:root {
    --sheet-font-size: 14px;
    --sheet-background-color: hsl(219, 100%, 95%);
    --sheet-color: hsl(219, 20%, 20%);
    --bars-background-color: hsl(219, 80%, 85%);
    --menu-background-color: hsl(219, 50%, 65%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
            "wdth" 100;
}

#menu {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: flex-start;
    background-color: var(--menu-background-color);
    padding: 10px;
}

#menu > * {
    margin: 10px;
    padding: 5px;
    background-color: var(--sheet-background-color);
    border: none;
    color: var(--menu-background-color);
}

#menu > *:hover {
    background-color: var(--menu-background-color);
    color: var(--sheet-background-color);
}

#setup {
    display: grid;
    margin: 10px;
}

#setup div {
    border: 1px solid white;
}

#setup input {
    width: 100%;
    height: 100%;
    background-color: hsl(219, 90%, 90%);;
    border: none;

}

#setup input:focus {
    outline: none;
    font-size: var(--sheet-font-size);
}

#rows-bar {
    background-color: var(--bars-background-color);
    grid-column: 1;
    grid-row: 2;
    grid-column-end: 2;
    display: grid;
    text-align: center ;
}

#columns-bar {
    background-color: var(--bars-background-color);
    grid-column: 2;
    grid-row: 1;
    grid-row-end: 2;
    display: grid;
    text-align: center ;
}

.number {
    text-align: right;
    font-size: var(--sheet-font-size);
}

#workArea {
    position: relative;
    background-color: var(--sheet-background-color);
    color: var(--sheet-color);
    grid-column: 2;
    grid-row: 2;
    grid-column-end: 3;
    grid-row-end: 3;
}

.sheet-row {
    height: 30px;
    display: flex;
    border: none;
    flex-direction: row;
}

.sheet-column {
    width: 100px;
    height: 30px;
}
#selectRectangle {
    position: absolute;
    overflow: visible;
    z-index: 9;
}