:root {
    --sheet-font-size: 14px;
    --sheet-background-color: hsl(219, 100%, 95%);
    --sheet-color: hsl(219, 20%, 20%);
    --bars-background-color: hsl(219, 80%, 85%);
    --inspector-background-color: hsl(219, 100%, 96%);
    --menu-background-color: hsl(219, 56%, 55%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background-color: inherit;
    border: none;
    font-weight: 600;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
            "wdth" 100;
}

#site-container {
    display: grid;
    grid-template-rows: 30px auto;
    grid-template-columns: auto 300px;
}

#main-menu {
    background-color: var(--menu-background-color);

}

#inspector {
    grid-row: span 2;
    background-color: var(--inspector-background-color);
    min-height: calc(100vh - 30px);
    position: sticky;
    right: 0;
    border-left: 4px solid white;
    padding: 20px 10px;
    z-index: 10;

}

#inspector-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#inspector-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#inspector-main > div > * {
    margin: 10px;
    padding: 5px;
    border-bottom: 2px solid var(--inspector-background-color);

}

#inspector-main > * {
    padding: 10px 0;

}
#inspector-main > div > *:hover {
    border-color: white;
}

#spreadsheet {
    display: grid;
    margin: 10px;
}

#spreadsheet div {
    border: 1px solid white;
}

#spreadsheet input {
    width: 100%;
    height: 100%;
    background-color: hsl(219, 90%, 90%);;
    border: none;

}

#spreadsheet input:focus {
    outline: none;
    font-size: var(--sheet-font-size);
}

#rows-bar {
    background-color: var(--bars-background-color);
    grid-column: 1;
    grid-row: 2;
    grid-column-end: 2;
    display: grid;
    text-align: center ;
}

#columns-bar {
    background-color: var(--bars-background-color);
    grid-column: 2;
    grid-row: 1;
    grid-row-end: 2;
    display: grid;
    text-align: center ;
}

.number {
    text-align: right;
    font-size: var(--sheet-font-size);
}

#workArea {
    position: relative;
    background-color: var(--sheet-background-color);
    color: var(--sheet-color);
    grid-column: 2;
    grid-row: 2;
    grid-column-end: 3;
    grid-row-end: 3;
    display: grid;
}

.sheet-row {
    height: 30px;
    display: flex;
    border: none;
    flex-direction: row;
}

.sheet-column {
    height: 30px;
}
#selectRectangle {
    position: absolute;
    overflow: visible;
    z-index: 9;
}

.selected {
    background-color: lightpink !important;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.menu-btn {
    border: none;
    background-color: inherit;
    font-weight: 400;
    font-size: 14px;
    color: white;
    padding: 5px 20px;
}