* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
            "wdth" 100;
}

#menu {
    display: flex;
    flex-direction: row;
    margin: 80px 200px;
    justify-content: flex-start;
}

#setup div {
    border: 1px solid white;
}

#setup input {
    width: 100%;
    height: 100%;
    background-color: #c7eaf5;
    border: none;

}

#setup input:focus {
    outline: none;
}

.number {
    text-align: right;
}

#workArea > div > div {
    position: relative;
}

#workArea > div > div > svg {
    position: absolute;
    top: -2px;
    left: -2px;
    overflow: visible;
    z-index: 9;
}