:root {
    --primary-color: #57a1de;
    --left-margin: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-setup-a4 {
    width: 21cm;
    height: 29.7cm;
    border: 1px solid #000;
    background-color: var(--primary-color);
    color: #fff;
    padding-left: var(--left-margin);
}

.normal {
    line-height: 1.15em;
    font-size: 20px;
}

.normal-indent {
    line-height: 1.15em;
    font-size: 20px;
    text-indent: 1rem;
}

.bold {
    font-weight: bold;
}